<a href="https://colab.research.google.com/github/natalia973/Data-Science-Data-Analytics/blob/main/ProjetoLimpezaR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
install.packages("rmarkdown")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [2]:
dados=read.csv("/content/tempo.csv" , sep = ";" , na.strings = "" , stringsAsFactors = T , fileEncoding ="UTF-8")
#na.strings = "" significa que quando encontrar um campo vazio ele será tratado como não disponível
head(dados)
colnames(dados)
print(dados)
Clima = unique(dados$Aparencia)

  Aparencia Temperatura Umidade Vento      Jogar
1 sol       85          85      FALSO      nao
2 sol       80          90      VERDADEIRO nao
3 nublado   83          86      FALSO      sim
4 chuva     70          NA      FALSO      sim
5 chuva     68          80      FALSO      sim
6 chuva     65          70      VERDADEIRO nao

[1] "Aparencia"   "Temperatura" "Umidade"     "Vento"       "Jogar"

   Aparencia Temperatura Umidade      Vento Jogar
1        sol          85      85      FALSO   nao
2        sol          80      90 VERDADEIRO   nao
3    nublado          83      86      FALSO   sim
4      chuva          70      NA      FALSO   sim
5      chuva          68      80      FALSO   sim
6      chuva          65      70 VERDADEIRO   nao
7      menos          64      65 VERDADEIRO   sim
8        sol        1220      95      FALSO   nao
9        sol          69      70      FALSO   sim
10     chuva          75     200       <NA>   sim
11       sol          75      70 VERDADEIRO   sim
12   nublado          72      90 VERDADEIRO   sim
13   nublado          81      75      FALSO   sim
14     chuva          71      91 VERDADEIRO   nao

In [3]:
#Aqui, filtra a Umidade de 0 a 100:
x = dados[dados$Umidade >0 & dados$Umidade <= 100, ]
print(x)

   Aparencia Temperatura Umidade      Vento Jogar
1        sol          85      85      FALSO   nao
2        sol          80      90 VERDADEIRO   nao
3    nublado          83      86      FALSO   sim
NA      <NA>          NA      NA       <NA>  <NA>
5      chuva          68      80      FALSO   sim
6      chuva          65      70 VERDADEIRO   nao
7      menos          64      65 VERDADEIRO   sim
8        sol        1220      95      FALSO   nao
9        sol          69      70      FALSO   sim
11       sol          75      70 VERDADEIRO   sim
12   nublado          72      90 VERDADEIRO   sim
13   nublado          81      75      FALSO   sim
14     chuva          71      91 VERDADEIRO   nao

In [4]:
#Filtro no Clima, deve ser Sol, Nublado ou Chuva
AparenciaRemover = c("menos")
AparenciaFiltrada = Clima[!(Clima %in% AparenciaRemover)]
print(AparenciaFiltrada)

[1] sol     nublado chuva
Levels: chuva menos nublado sol

In [5]:
#Filtro na temperatura:
Y = dados[dados$Temperatura > -130 & dados$Temperatura <= 130 , ]
print(Y)

   Aparencia Temperatura Umidade      Vento Jogar
1        sol          85      85      FALSO   nao
2        sol          80      90 VERDADEIRO   nao
3    nublado          83      86      FALSO   sim
4      chuva          70      NA      FALSO   sim
5      chuva          68      80      FALSO   sim
6      chuva          65      70 VERDADEIRO   nao
7      menos          64      65 VERDADEIRO   sim
9        sol          69      70      FALSO   sim
10     chuva          75     200       <NA>   sim
11       sol          75      70 VERDADEIRO   sim
12   nublado          72      90 VERDADEIRO   sim
13   nublado          81      75      FALSO   sim
14     chuva          71      91 VERDADEIRO   nao

In [6]:
#Quantidade de "não" e "sim" presente na coluna jogar
x = unique(dados$Jogar)
print(x)
qtd=table(dados$Jogar)
print(qtd)

[1] nao sim
Levels: nao sim

nao sim
  5   9